@import url('https://webfontworld.github.io/cookierun/CookieRun.css');

body,header,nav,section,footer,figure,figcaption,ul,li,h1,h2,h3,div,p,span,em,button,address{
	margin: 0px;
	padding: 0px;
}
ul{ list-style: none; }
a{ text-decoration: none; }
img{
	display: block;
	border: 0px;
}
hr{
	display: none;
}
body{
	font-size: 14px;
	font-family:"CookieRun",sans-serif;
	-ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
