html,body,div,section,h1,h2,h3,figure,figcaption,p,span,ul,li,strong,button{
    margin: 0px;
    padding: 0px;
}
ul{list-style: none;}
a{text-decoration: none;}
body{
    font-family: 'Jua', sans-serif;
}
button {
    font-family: 'Jua', sans-serif;
    border: 0;
    display: block;
}