@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

html,body,div,section,h1,h2,h3,figure,figcaption,p,span,ul,li,strong,button{
    margin: 0px;
    padding: 0px;
}
ul{list-style: none;}
a{text-decoration: none;}
body{
    font-family: 'Jua', sans-serif;
}
button {
    font-family: 'Jua', sans-serif;
    border: 0;
    display: block;
}

#welcome{
    width: 100%;
    height: 200vh;
    background: #f2fecc;
    position: relative;
    z-index: 2;
}
@keyframes food{
    0%{
        rotate: 45deg;
    }
    100%{
        rotate: -45deg;
    }
}
.food_box{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.food{
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.fd1{ width: 80%;}
.fd2{ width: 100%;}
.fd3{ width: 80%;}
.fd4{ width: 100%;}
.food span{
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: food .8s ease-in-out infinite alternate;
}
.food .p{
    background-image: url("../img/p.png");
}
.food .t{
    background-image: url("../img/t.png");
}
.food .m{
    background-image: url("../img/m.png");
}
#welcome .hi{
    width: 50%;
    height: 70vh;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    background: url("../img/welcome.png") no-repeat top;
    background-size: contain;
}
#welcome h2{
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 50px;
    /* color: #7bbd1d; */
    color: #4d8001;
    display: none;
}
#profile_page{
    width: 100%;
    height: 200vh;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
#profile_page .open{
    width: 1920px;
    height: 100vh;
    margin-left: -960px;
    background:url("../img/profileBg.png") no-repeat center;
    background-size:co;
    position: absolute;
	left:50%;
	top:0;
	z-index:50;
	transition:all 1s;
	transition-timing-function:cubic-bezier(.41,.06,.49,.9);
}
#profile_page .open.fix{
	position:fixed;
}
#profile_page .open.fix.scale{
	transform:scale(5.3);
}
#profile_page .opendoor{
    width: 100%;
    height: 5vh;
}
#profile_page .door_up{
    width: 100%;
    height: 5vh;
}
#profile_page .door_box{
    width: 367px;
    height: 559px;
    position: absolute;
    transform: translateX(-50%) scale(1);
    left: 50%;
    bottom: 130px;
    transition: all .3s;
    transition-timing-function: ease-in-out;
}
@media screen and (max-height: 821px){
    #profile_page .door_box{
        bottom: 55px;
    }
}
@media screen and (max-height: 820px){
    #profile_page .door_box{
        bottom: 10px;
    }
}
@media screen and (max-height: 723px){
    #profile_page .door_box{
        bottom: 10px;
    }
}
#profile_page .door{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#profile_page .door>div{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}
#profile_page .door_l{
    background-image: url("../img/door1.jpg");
    transform-origin: left;
}
#profile_page .door_r{
    background-image: url("../img/door2.jpg");
    transform-origin: right;
}
#profile_page .door_l.open_l{transform: rotateY(-140deg);}
#profile_page .door_r.open_r{transform: rotateY(140deg);}
#profile_page .profile_box{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000;
}
#profile_page .profile_box.bg{
    background: url("../img/portfolioBg.jpg") no-repeat;
}
#profile_page .profile_box.fix{
	position:fixed;
	left:0;
	top:0;
}
#profile_page .profile{
    width: 85%;
    height: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: #deb887;
    border-radius: 15px;
    opacity: 0;
    transition: all .5s;
    transition-timing-function: ease-in;
}
#profile_page .menu{
    width: 95%;
    height: 95%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    background: #fff;
    border-radius: 15px;
    padding: 50px 50px;
    box-sizing: border-box;
    gap: 30px;
}
#profile_page .profile_img{
    width: 33%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
}
#profile_page .clip{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translateY(-50%) rotate(270deg);
    top: 50%;
    left: -220px;
    background: url("../img/clip.png") no-repeat bottom;
    background-size: contain;
}
#profile_page .bar{
    height: 80%;
    position: absolute;
    right: -1%;
    border-right: 2px #ccc solid;
}
#profile_page figcaption{
    width: 90%;
    height: 90%;
    background: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#profile_page .menu>h2{
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 0px;
}
#profile_page figcaption h2{
    text-align: center;
    color: #555;
    font-size: 40px;
}
#profile_page .img_box{
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
#profile_page .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile_page .img_text{
    width: 100%;
    height: 25%;
    text-align: center;
}
#profile_page .img_text p{
    width: 75%;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}
#profile_page .img_text span{
    display: block;
    font-weight: bold;
    text-align: center;
    margin:0px 10px 10px 0px;
    float: left;
    color: #555;
}
#profile_page .img_text p:last-child span{
    font-size: 20px;
    float: none;
    margin-right: 0px;
}
#profile_page .img_text p:last-child{
    margin: 0 auto;
    text-align: center;
}
#profile_page .profile_text{
    width: 67%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#profile_page .profile_text .text_box{
    width: 100%;
    height: 90%;
}
#profile_page .profile_text .text_box>h2{
    text-align: center;
    font-size: 40px;
    color: #555;
}
#profile_page .profile_text .text_box>h3{
    font-size: 30px;
    margin: 100px 0 35px 0;
    color: #808080;
}
#profile_page .profile_text .text_box>p{
    word-break: keep-all;
    white-space: initial;
    line-height: 30px;
}
#skill{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
}
#skill .pot_content{
    width: 100%;
    height: 100vh;
    background: url("../img/skillBg.jpg") no-repeat center;
    background-size: cover;
}
#skill .skill_box{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
}
#skill .skill_box>div{
    width: 100%;
    height: 100%;
    position: relative;
}
#skill .skill_list{
    width: 50%;
    height: 90%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    z-index: 1000;
}
#skill .skill_list>li{
    margin: 0 auto;
    height: 28%;
    display: flex;
    position: relative;
}
#skill .skill_list>li:first-child:hover{
    opacity: 0;
}
#skill .skill_list>li:first-child{
    width: 60%;
    justify-content: space-around;
}
#skill .skill_list>li:nth-child(2){
    width: 90%;
    justify-content: space-around;
}
#skill .skill_list>li:last-child{
    width: 100%;
    justify-content: space-between;
}
#skill .skill_list>li>img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
}
@keyframes ps{
    100%{
        top:300px;
        left: 30%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .ps{
    left: 15%;
    transform: rotate(-25deg);
    animation: ai 1.5s ease-in-out infinite alternate;
}
@keyframes ai{
    100%{
        top:300px;
        right: 30%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .ai{
    right: 15%;
    transform: rotate(25deg);
    animation: ai 1.5s ease-in-out infinite alternate;
}
@keyframes re{
    100%{
        top:200px;
        left: 20%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .react{
    left: 10%;
    transform: rotate(-25deg);
    animation: re 1.5s ease-in-out infinite alternate;
}
@keyframes sa{
    100%{
        top:200px;
        opacity: 0;
    }
}
#skill .skill_list .sass{
    transform: translateX(-50%);
    top: -20px;
    left: 50%;
    animation: sa 1.5s ease-in-out infinite alternate;
}
@keyframes fg{
    100%{
        top:200px;
        right:20%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .figma{
    transform: rotate(25deg);
    right: 10%;
    animation: fg 1.5s ease-in-out infinite alternate;
}
@keyframes ht{
    100%{
        top:100px;
        left:10%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .html{
    transform: rotate(-45deg);
    left: 0px;
    animation: ht 1.5s ease-in-out infinite alternate;
}
@keyframes cs{
    100%{
        top:100px;
        opacity: 0;
    }
}
#skill .skill_list .css{
    left: 30%;
    animation: cs 1.5s ease-in-out infinite alternate;
}
@keyframes js{
    100%{
        top:100px;
        opacity: 0;
    }
}
#skill .skill_list .js{
    right: 30%;
    animation: js 1.5s ease-in-out infinite alternate;
}
@keyframes jq{
    100%{
        top:100px;
        right:10%;
        opacity: 0;
        transform: rotate(0deg);
    }
}
#skill .skill_list .jquery{
    right: 0px;
    transform: rotate(45deg);
    animation: jq 1.5s ease-in-out infinite alternate;
}
#skill .pot_box{
    width: 80%;
    height: 60%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
}
#skill .pot_box .pot{
    width: 100%;
    height: 70%;
    background: url("../img/pot.png") no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 10%;
}
#skill .pot_box .pot>.vapour{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    width: 70%;
    margin: 0 auto;
}
@keyframes animate{
    0%{
        transform: translateY(0) scaleX(3);
        opacity: 1;
    }
    15%{
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) scaleX(5);
    }
    95%{
        opacity: 1;
    }
    100%{
        transform: translateY(-300px) scaleX(10);
    }
}
#skill .pot_box .pot>.vapour>span{
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-delay: calc(var(--i)*0.5s);
    opacity: 0;
    filter: blur(8px);
    flex: 1 1 0;
}
#skill .pot_box .fire{
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    background: url("../img/fire.gif") no-repeat center;
    background-size: contain;
}
#portfolio{
    width: 100%;
    height: 400vw;
    background: url("../img/portfolioBg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#portfolio>h2{
    font-size: 50px;
    position: absolute;
    top: 1%;
    left: 3%;
    box-sizing: border-box;
    color: #fff;
}
#portfolio .portfolio_box{
    width: 400vw;
    height: 100%;
    display: flex;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
}
#portfolio .portfolio_list{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#portfolio .click_box{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}
#portfolio .click_box .mb_content{
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.8);
}
#portfolio .click_box .video_box{
    width: 23vw;
    height: 65vh;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    background: url("../img/hp.png") no-repeat center;
    background-size: contain;
}
#portfolio .click_box .mb_box{
    width: 561px;
    height: 769px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: url("../img/hp.png") no-repeat center;
    background-size: cover;
}
#portfolio .click_box video{
    width: 500px;
    height: 720px;
    position: absolute;
    border-radius: 50px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
#portfolio .click_box a{
    display: block;
    width: 300px;
    height: 100px;
    background: #fff;
    position: absolute;
    transform: translateY(-50%);
    right: 300px;
    top: 50%;
    border-radius: 30px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: #AF9690;
}
#portfolio .click_box .sr_only{
    width: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}
#portfolio .click_box .toggle{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 10%;
    background: none;
    z-index: 1;
}
#portfolio .click_box span{
    width: 50px;
    height: 10px;
    display: block;
    border-radius: 30px;
    background: #fff;
}
#portfolio .click_box .bar1{ transform: rotate(45deg); }
#portfolio .click_box .bar2{ transform: rotate(-45deg); }

#portfolio .click_box .tmb{
    width: 481px;
    background-image: url("../img/hp2.png");
}
#portfolio .TO video{
    width: 420px;
}
#portfolio .TO a{
    color: #590902;
}

#portfolio .projcet_box{
    width: 80%;
    height: 90vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 10px 10px 10px rgba(0,0,0,0.5);
}
#portfolio .projcet_box>div{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 7px #808080 solid;
    box-shadow: inset 5px 1px 15px 3px rgba(0, 0, 0, 0.25);
}
#portfolio .projcet_box>div>div{
    width: 94%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 14px #808080 solid;
    /* box-sizing: border-box; */
    box-shadow: inset -20px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
#portfolio .projcet_list{
    width: 100%;
    height: 100%;
}
#portfolio .projcet_list>li{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transform: rotateX(0deg);
}
#portfolio li>div{
    width: 50%;
    height: 100%;
    position: relative;
}
#portfolio .qr_box{
    width: 10%;
    height: 100px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 5%;
}
#portfolio .qr_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#portfolio .project_img>img{
    width: 80%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    object-fit: contain;
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.8));
}
#portfolio .project_img>.mb{
    transform: translate(-50%,-50%);
    top: 50%;
    height: 50%;
}
#portfolio .txt_box{
    width: 80%;
    height: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}
#portfolio .txt_box>h2{
    font-size: 40px;
}
#portfolio .txt_box>h3{
    font-size: 20px;
    margin: 5% 0;
    text-align: left;
    word-break: keep-all;
    white-space: initial;
}
#portfolio .txt_box p{
    font-size: 13px;
}
#portfolio .txt_box strong{
    font-size: 18px;
    display: block;
    margin: 3% 0px;
    color: #222;
}
#portfolio .txt_box .no{ margin-top: 0;}
#portfolio .txt_box ul{
    width: 80%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
#portfolio .txt_box li{
    width: 25%;
    height: 100%;
}
#portfolio .txt_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#portfolio .go{
    width: 40%;
    height: 10%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
}
#portfolio .go>a,#portfolio .go>button{
    display: block;
    width: 40%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
#portfolio .viex{
    background: #808080;
}
#portfolio .github{
    background: #8b00ff;
}
.dev{ color: #ff5f00;}
.so{ color: #AF9690;}
.tc{ color: #590902 ;}
#portfolio .vbg{ background: #ff5f00;}
#portfolio .vbgs{background: #AF9690;}
#portfolio .vbgt{ background: #590902;}

#portfolio span{
    display: block;
    position: absolute;
    width: 200px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
#portfolio .fork{
    background-image: url("../img/fork.png");
    background-size: contain;
    transform: rotate(45deg);
    left: -150px;
    top: 750px;
}
#portfolio .fork_s{
    background-image: url("../img/fork_s.png");
    transform: rotate(45deg);
    left: 20px;
    top: 780px;
}
#portfolio .knife{
    background-image: url("../img/knife.png");
    transform: rotate(-45deg);
    right: 20px;
    top: 850px;
    width: 200px;
    height: 500px;
}
#portfolio .spoon{
    background-image: url("../img/spoon.png");
    transform: rotate(-45deg);
    right: -100px;
    top: 750px;
    width: 200px;
    height: 500px;
}
#contact{
    width: 100%;
    height: 100vh;
    background: #f2fecc;
    position: relative;
    z-index: 4;
}
#contact .food_box2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
#contact .contact_box{
    position: absolute;
    width: 50%;
    height: 80%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: url("../img/end.png") no-repeat;
    background-size: contain;
}